---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Create web root directory
  file:
    path: /var/www/{{ domain }}
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Deploy Nginx configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/{{ domain }}
  notify: restart nginx

- name: Enable site
  file:
    src: /etc/nginx/sites-available/{{ domain }}
    dest: /etc/nginx/sites-enabled/{{ domain }}
    state: link
  notify: restart nginx

- name: Remove default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: restart nginx

- name: Deploy index page
  template:
    src: index.html.j2
    dest: /var/www/{{ domain }}/index.html
    owner: www-data
    group: www-data

- name: Ensure Nginx is running
  service:
    name: nginx
    state: started
    enabled: yes
